.slick-arrow {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0.8em 0.3em 0.8em 0.3em;
  z-index: 99;
  opacity: 0;
  color: white;
  font-size: 2.1em;
  border-radius: 0.2em;
  transition: all 0.2s;
}
.slick-arrow::before {
  content: none;
}

.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.banner-contain:hover .slick-arrow {
  color: white;
  opacity: 0.6;
}
.banner-contain .slick-arrow:hover {
  color: #77acf1;
  background: rgba(0, 0, 0, 0.15);
  opacity: 1;
}
.slick-dots {
  bottom: 10px;
  opacity: 0;
  transition: all 0.2s;
}
.banner-contain:hover .slick-dots {
  opacity: 1;
}
.border-circle {
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid;
  border-color: #c0fefc;
  opacity: 0.8;
}
.inner-circle {
  display: block;
  position: absolute;
  width: 6.5px;
  height: 6.5px;
  top: 53%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #c0fefc;
  opacity: 0;
}

.inner-circle:hover {
  opacity: 0.3;
}

.slick-active .inner-circle {
  opacity: 1;
}

.service {
  background: #6becec;
  color: white;
  border-radius: 3px;
}
.service p.after::after {
  content: '';
  position: absolute;
  width: 3em;
  height: 0.15em;
  border-radius: 0.1em;
  background: white;
  left: 50%;
  bottom: -0.5em;
  transform: translateX(-50%);
  opacity: 0.6;
}

.bg-food {
  background: url('../image/bg-food.jpg') center/cover repeat fixed;
}

.list .title {
  color: #44ebeb;
  text-shadow: -1px 4px 3px rgba(150, 148, 148, 0.5);
}
.list .title::before {
  content: '';
  flex: 1;
  margin: 0 1em;
  height: 0.1em;
  border-radius: 1em;
  background: #6becec;
  box-shadow: -1px 4px 3px rgba(150, 148, 148, 0.5);
}
.list .title::after {
  content: '';
  display: inline-block;
  flex: 1;
  margin: 0 1em;
  height: 0.1em;
  border-radius: 1em;
  background: #6becec;
  box-shadow: -1px 4px 3px rgba(150, 148, 148, 0.5);
}
