.title {
  color: #44ebeb;
  text-shadow: -1px 4px 3px rgba(150, 148, 148, 0.5);
}
.title::before {
  content: '';
  flex: 1;
  margin: 0 1em;
  height: 0.1em;
  border-radius: 1em;
  background: #6becec;
  box-shadow: -1px 4px 3px rgba(150, 148, 148, 0.5);
}
.title::after {
  content: '';
  display: inline-block;
  flex: 1;
  margin: 0 1em;
  height: 0.1em;
  border-radius: 1em;
  background: #6becec;
  box-shadow: -1px 4px 3px rgba(150, 148, 148, 0.5);
}
